<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS1qXY7aT_tudHWrIBEAXYECoH6hjAU_A</string>
	<key>GCM_SENDER_ID</key>
	<string>202457767902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daniilvash.MyNutrition</string>
	<key>PROJECT_ID</key>
	<string>mynutrition-3b79a</string>
	<key>STORAGE_BUCKET</key>
	<string>mynutrition-3b79a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202457767902:ios:f6871c8e30cb9be163474f</string>
</dict>
</plist>